:root{
    --primary- :rgb(102, 111, 241);
    --secondary- :rgb(122, 122, 122);
    --success- :rgb(53, 170, 53);
    --danger- :rgb(212, 40, 40);
    --warning- :rgb(255, 251, 0);
    --info- :rgb(29, 110, 156);
    --light- :rgb(255, 255, 255);
    --dark- :rgb(34, 34, 34);
    --application-light-mode:rgb(234, 234, 234);
    --application-dark-mode:rgb(7, 0, 21);
    --nav-light-mode:#ffffff;
    --nav-dark-mode:#0f0727;
}