$--size-very-small : 12px;
$--size-small : 14px;
$--size-very-medium : 16px;
$--size-medium : 18px;
$--size-very-large : 20px;
$--size-large : 24px;
$--size-2xl : 28px;
$--size-3xl : 32px;
$--size-4xl : 40px;