$--size-very-small : 10px;
$--size-small : 14px;
$--size-very-medium : 18px;
$--size-medium : 22px;
$--size-very-large : 26px;
$--size-large : 30px;
$--size-2xl : 34px;
$--size-3xl : 38px;
$--size-4xl : 42px;