@import '../variables/themeColors';

.application_dark_mode_theme{
    background-color: var(--application-dark-mode);
    color: var(--light-);
    transition: 0.3s;
}
.application_light_mode_theme{
    background-color: var(--application-light-mode);
    color: var(--dark-);
    transition: 0.3s;
}

.desktop_nav_dark_mode_theme{
    background-color: var(--desktop-nav-dark-mode);
    color: var(--light-);
    transition: 0.3s;
}
.desktop_nav_light_mode_theme{
    background-color: var(--desktop-nav-light-mode);
    color: var(--dark-);
    transition: 0.3s;
}