@import '../variables/fontFaces';

.font-shabnam-thin {
    font-family: "shabnam-thin", sans-serif;
  }
  
  .font-shabnam-light {
    font-family: "shabnam-light", sans-serif;
  }
  
  .font-shabnam {
    font-family: "shabnam", sans-serif;
  }
  
  .font-shabnam-medium {
    font-family: "shabnam-medium", sans-serif;
  }
  
  .font-shabnam-bold {
    font-family: "shabnam-bold", sans-serif;
  }