@import "../variables/fontSize.scss";

.size_very_small {
  font-size: $--size-very-small;
}

.size_small {
  font-size: $--size-small;
}

.size_very_medium {
  font-size: $--size-very-medium;
}

.size_medium {
  font-size: $--size-medium;
}

.size_very_large {
  font-size: $--size-very-large;
}

.size_large {
  font-size: $--size-large;
}

.size_2xl {
  font-size: $--size-2xl;
}

.size_3xl {
  font-size: $--size-3xl;
}

.size_4xl {
  font-size: $--size-4xl;
}